<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- La clave sería poner como id una interfaz común y tan solo tener que cambiar class para trabajar con una
    implementación u otra sin tener que tocar el código fuente en absoluto, usar getBean("id") para obtener la instancia
    del objeto
    <bean id ="usuarioPepe" class = "com.Backend.model.User">
         Inyecto la dependencia de constructor
        <constructor-arg name = "userName" value = "Pepe"/>
    </bean> -->

 <!-- EStá comentado porque no he puesto constructor vacío en User al añadir el que tiene argumentos
      Tendrías que añadirlo para que funcionara.
      Si se deja así llama al constructor vació User user = new User();
      Además de al setter correspondiente
    <bean id ="usuarioAlejandro" class = "com.Backend.model.User">
        // Inyecto la dependencia de nombre
        <property name = "userName" value = "Alejandro"/>
    </bean> -->

    <!-- <bean id ="pass" class = "com.Backend.model.Password">
        Inyecto la dependencia de nombre
        <property name = "pass" value = "1234"/>
    </bean> -->

</beans>